

.warp{}

@media screen and (min-width: 671px) {
  .icon {
    max-width: 150px;
  }
}

.icon{
  width: 50%;
  height: auto;
  border-radius: 50%;
  border: solid 4px orangered;
}

.icon :before{
  content: '';
  display: block;
  padding-top: 50%;

}

body {
  text-align: center;
  position: relative;
  background: wheat;
  color: black;
}

.link-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.link-list a {
  display: inline-block;
  margin: 5px 10px;
  text-decoration: none;
  padding: 10px 15px;
  border-radius: 4px;
  background: orange;
  color: black;
}

.link-list a:hover{
background: darkolivegreen;
  color: wheat;
}

@media (prefers-color-scheme: dark) {
  body {
    background: darkslategray;
    color: wheat;
  }

  .link-list a {
    background: darkolivegreen;
    color: wheat;
  }

  .link-list a:hover{
    background: wheat;
    color: darkolivegreen;
  }
}

@media (prefers-color-scheme: light) {
  body {
    background: wheat;
    color: black;
  }

  .link-list a {
    background: orange;
    color: black;
  }

  .link-list a:hover{
    background: darkolivegreen;
    color: wheat;
  }
}