@media screen and (min-width: 671px) {
  .icon {
    max-width: 150px;
  }
}

@media (prefers-color-scheme: dark){
  body{
    background: darkslategray;
    color: wheat;
  }
  .link-list a{
    background: darkolivegreen;
    color: wheat;
  }
}

@media (prefers-color-scheme: light) {
  body{
    background: wheat;
    color: black;
  }
  .link-list a{
    background: orange;
    color: black;
  }
}

.icon {
border-radius: 50%;
border: solid 4px orangered;
width: 50%;
}


body {
  text-align: center;
  position: relative;
}

.link-list{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.link-list a{
  display: inline-block;
  margin: 5px 10px;
  text-decoration: none;
  padding: 10px 15px;
  border-radius: 4px;
}